{% load i18n fb_tags %}
<thead>
    <tr>
        <!-- SELECT -->
        {% if query.pop %}<th></th>{% endif %}
        <!-- THUMB -->
        <th scope="col" style="width:60px">
            <div class="text"><span>{#% trans "Thumbnail" %#}&nbsp;</span></div>
        </th>
        <!-- FILETYPE -->
        <th scope="col" class="sortable{% if query.o == "filetype" %} sorted {{ query.ot }}ending{% endif %}">
          {% if query.o == "filetype" %}
          <div class="relative-wrapper">
            <div class="sortoptions">
                <a href="{% query_string "" "o,ot,p" %}&amp;ot={% ifequal query.ot "desc" %}asc{% else %}desc{% endifequal %}&amp;o=filetype" class="toggle {{ query.ot }}ending" title="{% trans "Toggle sorting" %}"></a>
                <a class="sortremove" href="{% query_string "" "o,ot,p" %}" title="{% trans "Remove from sorting" %}"></a>
            </div>
          </div>
          {% endif %}
          <div class="text">
            <a href="{% query_string "" "o,ot,p" %}&amp;ot={% if not query.ot or query.ot == "desc" %}asc{% else %}desc{% endif %}&amp;o=filetype">{% trans "Type" %}</a>
          </div>
        </th>
        <!-- FILENAME / DIMENSIONS  -->
        <th scope="col" class="sortable{% if query.o == "filename_lower" %} sorted {{ query.ot }}ending{% endif %}">
          {% if query.o == "filename_lower" %}
          <div class="relative-wrapper">
            <div class="sortoptions">
                <a href="{% query_string "" "o,ot,p" %}&amp;ot={% ifequal query.ot "desc" %}asc{% else %}desc{% endifequal %}&amp;o=filename_lower" class="toggle {{ query.ot }}ending" title="{% trans "Toggle sorting" %}"></a>
                <a class="sortremove" href="{% query_string "" "o,ot,p" %}" title="{% trans "Remove from sorting" %}"></a>
            </div>
          </div>
          {% endif %}
          <div class="text"><a href="{% query_string "" "o,ot,p" %}&amp;ot={% if not query.ot or query.ot == "desc" %}asc{% else %}desc{% endif %}&amp;o=filename_lower">{% trans "Filename" %}</a></div>
        </th>
        <!-- FOLDER -->
        {% if query.q and settings_var.SEARCH_TRAVERSE %}
            <th scope="col" class="sortable{% if query.o == 'folder' %} sorted {{ query.ot }}ending{% endif %}">
              {% if query.o == 'folder' %}
              <div class="relative-wrapper">
                <div class="sortoptions">
                    <a href="{% query_string "" "o,ot,p" %}&amp;ot={% ifequal query.ot "desc" %}asc{% else %}desc{% endifequal %}&amp;o=folder" class="toggle {{ query.ot }}ending" title="{% trans "Toggle sorting" %}"></a>
                    <a class="sortremove" href="{% query_string "" "o,ot,p" %}" title="{% trans "Remove from sorting" %}"></a>
                </div>
              </div>
              {% endif %}
              <div class="text"><a href="{% query_string "" "o,ot,p" %}&amp;ot={% if not query.ot or query.ot == "desc" %}asc{% else %}desc{% endif %}&amp;o=folder">{% trans "Folder" %}</a></div>
            </th>
        {% endif %}
        <!-- SIZE -->
        <th scope="col" class="sortable{% if query.o == "filesize" %} sorted {{ query.ot }}ending{% endif %}">
          {% if query.o == "filesize" %}
          <div class="relative-wrapper">
            <div class="sortoptions">
                <a href="{% query_string "" "o,ot,p" %}&amp;ot={% ifequal query.ot "desc" %}asc{% else %}desc{% endifequal %}&amp;o=filesize" class="toggle {{ query.ot }}ending" title="{% trans "Toggle sorting" %}"></a>
                <a class="sortremove" href="{% query_string "" "o,ot,p" %}" title="{% trans "Remove from sorting" %}"></a>
            </div>
          </div>
          {% endif %}
          <div class="text"><a href="{% query_string "" "o,ot,p" %}&amp;ot={% if not query.ot or query.ot == "desc" %}asc{% else %}desc{% endif %}&amp;o=filesize">{% trans "Size" %}</a></div>
        </th>
        <!-- DATE -->
        <th scope="col" class="sortable{% if query.o == "date" %} sorted {{ query.ot }}ending{% endif %}">
          {% if query.o == "date" %}
          <div class="relative-wrapper">
            <div class="sortoptions">
                <a href="{% query_string "" "o,ot,p" %}&amp;ot={% ifequal query.ot "desc" %}asc{% else %}desc{% endifequal %}&amp;o=date" class="toggle {{ query.ot }}ending" title="{% trans "Toggle sorting" %}"></a>
                <a class="sortremove" href="{% query_string "" "o,ot,p" %}" title="{% trans "Remove from sorting" %}"></a>
            </div>
          </div>
          {% endif %}
          <div class="text"><a href="{% query_string "" "o,ot,p" %}&amp;ot={% if not query.ot or query.ot == "desc" %}asc{% else %}desc{% endif %}&amp;o=date">{% trans "Date" %}</a></div>
        </th>

        <!-- EDIT -->
        <th scope="col">
            <div class="text">&nbsp;</div>
        </th>
    </tr>
</thead>
